* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: #f5f5f5;
    color: #333;
    overflow-x: hidden;
}

header {
    width: 100%;
    padding: 60px 20px;
    background: linear-gradient(135deg, #2a7b3f, #57b960);
    color: white;
    text-align: center;
    animation: fadeIn 1.2s ease-in-out;
}
.header-content {
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 20px;
}

.logo {
   width: 100px;
   height: auto;
}

.header-text {
   text-align: left;
}

header h1 {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 10px;
}

header p {
    font-size: 18px;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

section {
    padding: 60px 20px;
    max-width: 1100px;
    margin: auto;
    animation: slideUp 1s ease;
}

@keyframes slideUp {
    from {
        opacity: 0;
        transform: translateY(30px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.box {
    background: white;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 4px 18px rgba(0, 0, 0, 0.1);
    margin-bottom: 40px;
    transition: transform 0.4s ease;
}

.box:hover {
    transform: scale(1.02);
}

h2 {
    margin-bottom: 15px;
    color: #2a7b3f;
}

footer {
    background: #222;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 40px;
    font-size: 14px;
}

.contact-info p {
    margin: 6px 0;
}

.whatsapp-float {
    position: fixed;
    width: 70px;
    height: 70px;
    bottom: 25px;
    right: 25px;
    background: #25D366;
    color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    text-decoration: none;
    font-weight: bold;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    z-index: 999;
    transition: transform 0.3s ease;
}

.whatsapp-float:hover {
    transform: scale(1.1);
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    margin-top: 20px;
}

.product-card {
    background: #fff;
    padding: 15px;
    border-radius: 12px;
    text-align: center;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    transition: transform .3s;
}

.product-card:hover {
    transform: scale(1.05);
}

.product-card img {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 10px;
}